In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('WA_Fn-UseC_-Telco-Customer-Churn.xls')

In [3]:
df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [9]:
##feature Selection

X=pd.get_dummies(df.drop(['customerID','Churn'],axis=1))
y=df['Churn'].apply(lambda x: 1 if x=='Yes' else 0 )

In [10]:
X

,SeniorCitizen,tenure,MonthlyCharges,gender_Female,gender_Male,Partner_No,Partner_Yes,Dependents_No,Dependents_Yes,PhoneService_No,...,TotalCharges_995.35,TotalCharges_996.45,TotalCharges_996.85,TotalCharges_996.95,TotalCharges_997.65,TotalCharges_997.75,TotalCharges_998.1,TotalCharges_999.45,TotalCharges_999.8,TotalCharges_999.9
0,0,1,29.85,1,0,0,1,1,0,1,...,0,0,0,0,0,0,0,0,0,0
1,0,34,56.95,0,1,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,2,53.85,0,1,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,45,42.30,0,1,1,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
4,0,2,70.70,1,0,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,0,24,84.80,0,1,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
7039,0,72,103.20,1,0,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
7040,0,11,29.60,1,0,0,1,0,1,1,...,0,0,0,0,0,0,0,0,0,0
7041,1,4,74.40,0,1,0,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
7042,0,66,105.65,0,1,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [11]:
y

0       0
1       0
2       1
3       0
4       1
       ..
7038    0
7039    0
7040    0
7041    1
7042    0
Name: Churn, Length: 7043, dtype: int64

In [13]:
#train test split
from sklearn.model_selection import train_test_split

In [14]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2)

In [15]:
X_train.head()

,SeniorCitizen,tenure,MonthlyCharges,gender_Female,gender_Male,Partner_No,Partner_Yes,Dependents_No,Dependents_Yes,PhoneService_No,...,TotalCharges_995.35,TotalCharges_996.45,TotalCharges_996.85,TotalCharges_996.95,TotalCharges_997.65,TotalCharges_997.75,TotalCharges_998.1,TotalCharges_999.45,TotalCharges_999.8,TotalCharges_999.9
6732,0,24,89.55,1,0,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
6150,0,32,91.05,0,1,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
5685,0,45,19.20,0,1,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
4,0,2,70.70,1,0,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
6515,0,29,25.10,1,0,1,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0

In [16]:
X_test.head()

,SeniorCitizen,tenure,MonthlyCharges,gender_Female,gender_Male,Partner_No,Partner_Yes,Dependents_No,Dependents_Yes,PhoneService_No,...,TotalCharges_995.35,TotalCharges_996.45,TotalCharges_996.85,TotalCharges_996.95,TotalCharges_997.65,TotalCharges_997.75,TotalCharges_998.1,TotalCharges_999.45,TotalCharges_999.8,TotalCharges_999.9
3087,0,8,87.05,1,0,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3745,0,7,94.25,0,1,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
5192,0,60,19.95,0,1,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
4484,0,1,70.35,0,1,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4051,0,72,97.70,1,0,0,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [18]:
from tensorflow.keras.models import Sequential,load_model
from tensorflow.keras.layers import Dense
from sklearn.metrics import accuracy_score

In [20]:
#model
model =Sequential()
model.add(Dense(units=30,activation='relu',input_dim=len(X_train.columns)))
model.add(Dense(units=60,activation='relu'))
model.add(Dense(units=1,activation='sigmoid'))

In [21]:
model.compile(optimizer='sgd',loss='binary_crossentropy',metrics='accuracy')

In [22]:
model.fit(X_train,y_train,batch_size=32,epochs=100)

Epoch 1/100
177/177 [==============================] - 2s 5ms/step - loss: 0.5047 - accuracy: 0.7595
Epoch 2/100
177/177 [==============================] - 1s 5ms/step - loss: 0.4859 - accuracy: 0.7730
Epoch 3/100
177/177 [==============================] - 1s 7ms/step - loss: 0.4791 - accuracy: 0.7833
Epoch 4/100
177/177 [==============================] - 1s 7ms/step - loss: 0.4777 - accuracy: 0.7797
Epoch 5/100
177/177 [==============================] - 1s 6ms/step - loss: 0.4717 - accuracy: 0.7836
Epoch 6/100
177/177 [==============================] - 1s 5ms/step - loss: 0.4692 - accuracy: 0.7831
Epoch 7/100
177/177 [==============================] - 1s 5ms/step - loss: 0.4671 - accuracy: 0.7819
Epoch 8/100
177/177 [==============================] - 1s 5ms/step - loss: 0.4650 - accuracy: 0.7861
Epoch 9/100
177/177 [==============================] - 1s 5ms/step - loss: 0.4612 - accuracy: 0.7808
Epoch 10/100
177/177 [==============================] - 1s 5ms/step - loss: 0.4607 - accuracy: 0.7854
Epoch 11/100
177/177 [==============================] - 1s 5ms/step - loss: 0.4604 - accuracy: 0.7840
Epoch 12/100
177/177 [==============================] - 1s 5ms/step - loss: 0.4577 - accuracy: 0.7858
Epoch 13/100
177/177 [==============================] - 1s 4ms/step - loss: 0.4583 - accuracy: 0.7845
Epoch 14/100
177/177 [==============================] - 1s 5ms/step - loss: 0.4561 - accuracy: 0.7863
Epoch 15/100
177/177 [==============================] - 1s 5ms/step - loss: 0.4554 - accuracy: 0.7863
Epoch 16/100
177/177 [==============================] - 1s 5ms/step - loss: 0.4545 - accuracy: 0.7851
Epoch 17/100
177/177 [==============================] - 1s 7ms/step - loss: 0.4574 - accuracy: 0.7859
Epoch 18/100
177/177 [==============================] - 1s 8ms/step - loss: 0.4523 - accuracy: 0.7881
Epoch 19/100
177/177 [==============================] - 1s 7ms/step - loss: 0.4526 - accuracy: 0.7858
Epoch 20/100
177/177 [==============================] - 1s 8ms/step - loss: 0.4520 - accuracy: 0.7859
Epoch 21/100
177/177 [==============================] - 1s 7ms/step - loss: 0.4499 - accuracy: 0.7865
Epoch 22/100
177/177 [==============================] - 1s 5ms/step - loss: 0.4522 - accuracy: 0.7858
Epoch 23/100
177/177 [==============================] - 1s 4ms/step - loss: 0.4498 - accuracy: 0.7854
Epoch 24/100
177/177 [==============================] - 1s 4ms/step - loss: 0.4488 - accuracy: 0.7840
Epoch 25/100
177/177 [==============================] - 1s 4ms/step - loss: 0.4517 - accuracy: 0.7845
Epoch 26/100
177/177 [==============================] - 1s 5ms/step - loss: 0.4499 - accuracy: 0.7881
Epoch 27/100
177/177 [==============================] - 1s 5ms/step - loss: 0.4491 - accuracy: 0.7867
Epoch 28/100
177/177 [==============================] - 1s 5ms/step - loss: 0.4521 - accuracy: 0.7879
Epoch 29/100
177/177 [==============================] - 1s 5ms/step - loss: 0.4467 - accuracy: 0.7882
Epoch 30/100
177/177 [==============================] - 1s 7ms/step - loss: 0.4467 - accuracy: 0.7886
Epoch 31/100
177/177 [==============================] - 1s 8ms/step - loss: 0.4454 - accuracy: 0.7874
Epoch 32/100
177/177 [==============================] - 1s 5ms/step - loss: 0.4501 - accuracy: 0.7858
Epoch 33/100
177/177 [==============================] - 1s 5ms/step - loss: 0.4481 - accuracy: 0.7893
Epoch 34/100
177/177 [==============================] - 1s 5ms/step - loss: 0.4454 - accuracy: 0.7881
Epoch 35/100
177/177 [==============================] - 1s 5ms/step - loss: 0.4454 - accuracy: 0.7886
Epoch 36/100
177/177 [==============================] - 1s 5ms/step - loss: 0.4480 - accuracy: 0.7909
Epoch 37/100
177/177 [==============================] - 1s 5ms/step - loss: 0.4437 - accuracy: 0.7898
Epoch 38/100
177/177 [==============================] - 1s 4ms/step - loss: 0.4451 - accuracy: 0.7902
Epoch 39/100
177/177 [==============================] - 1s 5ms/step - loss: 0.4465 - accuracy: 0.7867
Epoch 40/100
177/177 [==============================] - 1s 5ms/step - loss: 0.4411 - accuracy: 0.7882
Epoch 41/100
177/177 [==============================] - 1s 5ms/step - loss: 0.4437 - accuracy: 0.7867
Epoch 42/100
177/177 [==============================] - 1s 5ms/step - loss: 0.4438 - accuracy: 0.7909
Epoch 43/100
177/177 [==============================] - 1s 5ms/step - loss: 0.4407 - accuracy: 0.7886
Epoch 44/100
177/177 [==============================] - 1s 7ms/step - loss: 0.4452 - accuracy: 0.7891
Epoch 45/100
177/177 [==============================] - 1s 8ms/step - loss: 0.4458 - accuracy: 0.7913
Epoch 46/100
177/177 [==============================] - 1s 5ms/step - loss: 0.4418 - accuracy: 0.7916
Epoch 47/100
177/177 [==============================] - 1s 5ms/step - loss: 0.4441 - accuracy: 0.7923
Epoch 48/100
177/177 [==============================] - 1s 5ms/step - loss: 0.4409 - accuracy: 0.7918
Epoch 49/100
177/177 [==============================] - 1s 5ms/step - loss: 0.4416 - accuracy: 0.7898
Epoch 50/100
177/177 [==============================] - 1s 5ms/step - loss: 0.4429 - accuracy: 0.7902
Epoch 51/100
177/177 [==============================] - 1s 5ms/step - loss: 0.4401 - accuracy: 0.7920
Epoch 52/100
177/177 [==============================] - 1s 4ms/step - loss: 0.4400 - accuracy: 0.7961
Epoch 53/100
177/177 [==============================] - 1s 5ms/step - loss: 0.4409 - accuracy: 0.7920
Epoch 54/100
177/177 [==============================] - 1s 5ms/step - loss: 0.4388 - accuracy: 0.7950
Epoch 55/100
177/177 [==============================] - 1s 5ms/step - loss: 0.4371 - accuracy: 0.7934
Epoch 56/100
177/177 [==============================] - 1s 5ms/step - loss: 0.4424 - accuracy: 0.7852
Epoch 57/100
177/177 [==============================] - 1s 5ms/step - loss: 0.4385 - accuracy: 0.7906
Epoch 58/100
177/177 [==============================] - 1s 7ms/step - loss: 0.4360 - accuracy: 0.7932
Epoch 59/100
177/177 [==============================] - 1s 8ms/step - loss: 0.4407 - accuracy: 0.7898
Epoch 60/100
177/177 [==============================] - 1s 6ms/step - loss: 0.4379 - accuracy: 0.7893
Epoch 61/100
177/177 [==============================] - 1s 5ms/step - loss: 0.4425 - accuracy: 0.7920
Epoch 62/100
177/177 [==============================] - 1s 5ms/step - loss: 0.4393 - accuracy: 0.7938
Epoch 63/100
177/177 [==============================] - 1s 5ms/step - loss: 0.4358 - accuracy: 0.7936
Epoch 64/100
177/177 [==============================] - 1s 5ms/step - loss: 0.4374 - accuracy: 0.7918
Epoch 65/100
177/177 [==============================] - 1s 4ms/step - loss: 0.4481 - accuracy: 0.7897
Epoch 66/100
177/177 [==============================] - 1s 5ms/step - loss: 0.4366 - accuracy: 0.7895
Epoch 67/100
177/177 [==============================] - 1s 5ms/step - loss: 0.4471 - accuracy: 0.7895
Epoch 68/100
177/177 [==============================] - 1s 5ms/step - loss: 0.4413 - accuracy: 0.7859
Epoch 69/100
177/177 [==============================] - 1s 5ms/step - loss: 0.4368 - accuracy: 0.7900
Epoch 70/100
177/177 [==============================] - 1s 5ms/step - loss: 0.4363 - accuracy: 0.7938
Epoch 71/100
177/177 [==============================] - 1s 5ms/step - loss: 0.4363 - accuracy: 0.7918
Epoch 72/100
177/177 [==============================] - 1s 6ms/step - loss: 0.4390 - accuracy: 0.7913
Epoch 73/100
177/177 [==============================] - 1s 7ms/step - loss: 0.4347 - accuracy: 0.7906
Epoch 74/100
177/177 [==============================] - 1s 7ms/step - loss: 0.4344 - accuracy: 0.7923
Epoch 75/100
177/177 [==============================] - 1s 4ms/step - loss: 0.4377 - accuracy: 0.7914
Epoch 76/100
177/177 [==============================] - 1s 5ms/step - loss: 0.4326 - accuracy: 0.7959
Epoch 77/100
177/177 [==============================] - 1s 5ms/step - loss: 0.4359 - accuracy: 0.7938
Epoch 78/100
177/177 [==============================] - 1s 4ms/step - loss: 0.4342 - accuracy: 0.7938
Epoch 79/100
177/177 [==============================] - 1s 5ms/step - loss: 0.4342 - accuracy: 0.7964
Epoch 80/100
177/177 [==============================] - 1s 5ms/step - loss: 0.4339 - accuracy: 0.7987
Epoch 81/100
177/177 [==============================] - 1s 5ms/step - loss: 0.4321 - accuracy: 0.7904
Epoch 82/100
177/177 [==============================] - 1s 6ms/step - loss: 0.4322 - accuracy: 0.7927
Epoch 83/100
177/177 [==============================] - 1s 5ms/step - loss: 0.4336 - accuracy: 0.7934
Epoch 84/100
177/177 [==============================] - 1s 5ms/step - loss: 0.4327 - accuracy: 0.7964
Epoch 85/100
177/177 [==============================] - 1s 5ms/step - loss: 0.4318 - accuracy: 0.7922
Epoch 86/100
177/177 [==============================] - 1s 5ms/step - loss: 0.4335 - accuracy: 0.7950
Epoch 87/100
177/177 [==============================] - 1s 8ms/step - loss: 0.4326 - accuracy: 0.7922
Epoch 88/100
177/177 [==============================] - 1s 7ms/step - loss: 0.4346 - accuracy: 0.7909
Epoch 89/100
177/177 [==============================] - 1s 5ms/step - loss: 0.4313 - accuracy: 0.7943
Epoch 90/100
177/177 [==============================] - 1s 5ms/step - loss: 0.4365 - accuracy: 0.7945
Epoch 91/100
177/177 [==============================] - 1s 6ms/step - loss: 0.4323 - accuracy: 0.7980
Epoch 92/100
177/177 [==============================] - 1s 6ms/step - loss: 0.4383 - accuracy: 0.7952
Epoch 93/100
177/177 [==============================] - 1s 5ms/step - loss: 0.4309 - accuracy: 0.7959
Epoch 94/100
177/177 [==============================] - 1s 5ms/step - loss: 0.4320 - accuracy: 0.7991
Epoch 95/100
177/177 [==============================] - 1s 5ms/step - loss: 0.4314 - accuracy: 0.8037
Epoch 96/100
177/177 [==============================] - 1s 5ms/step - loss: 0.4331 - accuracy: 0.7964
Epoch 97/100
177/177 [==============================] - 1s 5ms/step - loss: 0.4298 - accuracy: 0.7953
Epoch 98/100
177/177 [==============================] - 1s 5ms/step - loss: 0.4311 - accuracy: 0.7961
Epoch 99/100
177/177 [==============================] - 1s 5ms/step - loss: 0.4340 - accuracy: 0.7966
Epoch 100/100
177/177 [==============================] - 1s 7ms/step - loss: 0.4298 - accuracy: 0.7913

In [23]:
y_pred=model.predict(X_test)

45/45 [==============================] - 0s 3ms/step

In [26]:
y_pred=[0 if val<0.5 else 1 for val in y_pred]

In [38]:
accuracy_score(y_test,y_pred)

0.7579843860894251

In [32]:
model.save('fmodel')

WARNING:absl:Found untraced functions such as _update_step_xla while saving (showing 1 of 1). These functions will not be directly callable after loading.

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [36]:
del model

In [34]:
model = load_model('fmodel')